.projects-container {
    height: 100vh;
    background-color: #52796f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

.project-card {
    margin: 20px;
    height: 18vw;
    width: 18vw;
    border-radius: 50px;
    background: #CAD2C5;
    box-shadow: 20px 20px 60px #46675e,
        -20px -20px 60px #5e8b80;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }

    .image-container {
        width: 20vw;
        height: 70%; // Image takes up half the card
        overflow: hidden; // Ensures no overflow from the image

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // Ensures the image covers the area nicely
            border-radius: 50px 50px 0 0; // Rounded top to match the card
        }
    }

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 30%; // Remaining half for info
        overflow: hidden;

        h3 {
            color: #2f3e46;
            margin: 5px 0; // Adjust margins as needed
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80%;

            .repo,
            .demo {
                width: 100px;
            }
        }
    }
}

// ProjectModal.scss
.modal-backdrop {
    position: fixed;
    top: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        position: relative;
        border-radius: 10px;
        width: 600px;
        background-color: #fff;

        .content-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }


        .title {
            background-color: #CAD2C5;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 70px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 30px;
                margin: 0 !important;
                color: #2f3e46;

            }

        }

        .img-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin-top: 20px;
                width: 90%;
                border-radius: 10px;

            }
        }

        p {
            color: #2f3e46;
            padding: 20px;
            font-size: 16px;
            width: 60%;
        }

        .button-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            margin: 0 20px 20px 20px;

            .repo,
            .demo {
                text-align: center;
                padding: 10px;
                border-radius: 25px;
                transition: transform .2s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .repo {
                background-color: #2f3e46;

                a {
                    color: #fff;
                }
            }

            .demo {
                background-color: #CAD2C5;

                a {
                    color: #2f3e46;
                }
            }


            a {
                color: #2f3e46;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }

    }
}

@media (max-width: 600px) {

    .projects{
        width: 100vw !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .project-card{
        height: 40vw !important;
        width: 40vw !important;
        margin: 15px !important;

        .image-container {
            width: 40vw !important;
        }
        
    }
}