.modal {
    background: #57606b;
    position: absolute;
    height: 150px;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    text-align: center;
    border-radius: 5px;

    .text-zone {
        font-size: 20px;
    }
    .flat-button {
        color: #ffd700;
        background: 0 0;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        border-radius: 4px;
    }
}