.works-page {
    .text-zone {
        top: 30%;

        .special-p {
        animation: fadeInLeft 2s;
        }
    }
}

.display-container {
        width: 625px;
        height: 1200px;
        position: absolute;
        left: 50%;
        top: -10%;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
        display: block;
        flex: 1;
        animation: fadeInDown 4s;
        padding-right: 20%;

    .description {
        padding-right: 50px;
    }

    h2 {
        width: auto;
        height: auto;
        padding-top: 50px;
        
        a {
            font-size: larger;
            color: #ffd700;
        }
    }


    .coinWiki {
        display: flex;
        justify-content: space-around;
        align-items: center;


        img.Mac {
            width: auto;
            height: 250px;
        }

        img.Phone {
            padding-left: 20px;
            width: auto;
            height: 325px;
        }
    }

    .hobbyXchange {
        display: flex;
        justify-content: space-around;
        align-items: center;


        img.Mac {
            width: auto;
            height: 350px;
        }
    }

    .photoPort {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 600px;

        img.Mac {
            width: auto;
            height: 250px;
        }

        img.Phone {
            padding-left: 20px;
            width: auto;
            height: 325px;
        }
    }
}

@media screen and (max-width: 600px) {
    .works-page {
    .text-zone {
        top: 34.5%;

        
    }
}

.display-container {
        width: 300px !important;
        height: 450px !important;
        position: absolute;
        left: 5% !important;
        top: 55% !important;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
        display: block;
        flex: 1;
        animation: fadeIn 2s;

    .description {
        padding-right: 50px;
    }

    h2 {
        width: auto;
        height: auto;
        padding-top: 25px;
        
        a {
            font-size: larger;
            color: #ffd700;
        }
    }


    .coinWiki {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;


        img.Mac {
            width: auto;
            padding-left: 20%;
            height: 350px;
        }

        img.Phone {
            padding-left: 20%;
            width: auto;
            height: 325px;
        }
    }

    .hobbyXchange {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;


        img.Mac {
            padding-left: 20%;
            width: auto;
            height: 350px;
        }

        img.Phone {
            padding-left: 20%;
            width: auto;
            height: 325px;
        }
    }

    .photoPort {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 200px;

        img.Mac {
            padding-left: 20%;
            width: auto;
            height: 350px;
        }

        img.Phone {
            padding-left: 20%;
            width: auto;
            height: 325px;
        }
    }
}
}

@media screen and (max-width: 1000px) {
    .works-page{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .display-container {
        width: 550px;
        height: 500px;
        position: absolute;
        left: 20%;
        top: 50%;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
        display: block;
        flex: 1;
        animation: fadeIn 2s;

    .description {
        padding-right: 50px;
    }

    h2 {
        width: auto;
        height: auto;
        padding-top: 25px;
        
        a {
            font-size: larger;
            color: #ffd700;
        }
    }


    .coinWiki {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;


        img.Mac {
            width: auto;
            height: 250px;
        }

        img.Phone {
            width: auto;
            height: 225px;
        }
    }

    .hobbyXchange {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;


        img.Mac {
            width: auto;
            height: 250px;
        }

        img.Phone {
            width: auto;
            height: 225px;
        }
    }

    .photoPort {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        img.Mac {
            width: auto;
            height: 250px;
        }

        img.Phone {
            width: auto;
            height: 225px;
        }
    }
}
}