.skills-page {
    height: 100vh;
    background-color: #84a98c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden !important;

    .skills-container {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; // Adjust the gap between columns as needed
        width: 100vw;
        justify-items: center;

        .skill {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 100px;

            h1 {
                font-size: 3vw;
                color: #354f52;
            }
        }

        .skill-section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 70vh;
            width: 50vw;
        }

        .frontend-skills {
            border-right: 4px solid #52796f;
        }

        .skill-card {
            position: relative;
            width: 10vw;
            margin: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .icon-container,
            .details-container {
                position: absolute;
                transition: opacity 0.3s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 15vw;
                height: 100%;

                h3,
                h4 {
                    margin-block-start: 3px !important;
                    margin-block-end: 2px !important;
                }

                h4 {
                    color: #52796f;
                    font-size: 20px;
                }

                h3 {
                    color: #cad2c5;
                    font-size: 30px;
                }

                .fa-star {
                    margin-top: 10px;
                    font-size: 1.5vw;
                }
            }

            .icon-container {
                opacity: 1;
                flex-wrap: wrap;
            }

            img {
                width: 8vw;
            }

            .details-container {
                opacity: 0;
            }

            &:hover {
                .icon-container {
                    opacity: 0;
                }

                .details-container {
                    opacity: 1;

                }
            }

            svg {
                font-size: 8vw;
            }

            .details-container span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }
}

@media (max-width: 967px) {
    .skills-container {
        height: 100vh;
        display: grid;
        gap: 0px !important; // Adjust the gap between columns as needed
        margin: 0 30px 0 30px !important;
    }

    .skill {
        margin-top: 70px !important;
    }

    .skill-card {
        flex-direction: row !important; // Align icon and details in a row
        justify-content: flex-start !important;
        align-items: center !important;
        height: auto !important; // Adjust height for mobile layout
        margin: 6px !important;
        width: 100% !important; // Adjust width for mobile layout
    }

    .frontend-skills {
        border-right: 2px solid #52796f !important;
    }

    .icon-container,
    .details-container {
        position: static !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        opacity: 1 !important;
    }

    .icon-container {
        order: 1 !important;
        margin-right: 10px !important; // Add some space between the icon and the details
    }

    .fa-star {
        font-size: 1.8vw !important;
        margin-top: 0 !important;
    }

    h1 {
        font-size: 20px !important;
    }


    .details-container {
        order: 2 !important;
        font-size: 1.23vh !important;
        width: 100px !important;

        h3,
        h4 {
            margin-block-start: 0px !important;
            margin-block-end: 0px !important;
        }

        h3,
        h4 {
            padding: 0 !important;
            margin: 0 !important;
            text-align: left !important;

            font-size: 14px !important;
        }
    }


    .icon-img {
        width: 8vw !important;
    }

    svg {
        font-size: 8vw !important; // Adjust SVG size for mobile view
    }
}