.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;

    img {
        height: 610px;
    }
}

@media screen and (max-width: 900px) {
    .logo-container {
        width: 100vw !important;
        img {
            height: 60%;
            margin: 0 !important;
            padding: 0!important;
        }
    }
}

@media screen and (max-width: 600px) {
    
    .logo-container {
            margin-top: 5vh !important;
        width: 100vw !important;

        img {
            height: 370px;
        }
    }
}