.logo-container {
    img {
    z-index: 0;
    width: auto;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .logo-container {
    img {
    z-index: 0;
    width: auto;
    height: 350px;
    position: relative;
    top: 0;
    right: 80%;
    bottom: 0;
    left: auto;
    margin: auto;
    }
}
}