.contact-container {
    height: 100vh;
        background-color: #2f3e46;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
    
    
        .contact-page {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
    
            img {
                width: 40vw;
                padding: 30px;
                opacity: .4;
                padding-bottom: 120px;
                margin-left: 30px;
            }
        }
    
    
    
        .text-zone {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 40vw;
    
            p {
                color: #cad2c5;
                font-size: 25px;
            }
        }
    
        .contact-form {
            width: 40vw;
            margin-top: 40px;
    
            ul {
                padding: 0;
                margin: 0;
    
                li {
                    padding: 0;
                    list-style: none;
                    margin-bottom: 10px;
                    overflow: hidden;
                    display: block;
                    position: relative;
                    opacity: 0;
                    animation: fadeInUp 0s 0s;
                    animation-fill-mode: forwards;
                    clear: both;
                    border-radius: 10px;
                    margin-bottom: 15px;
                }
    
                li.half {
                    width: 49%;
                    margin-left: 2%;
                    float: left;
                    clear: none;
    
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
    
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:focus {
                transition: background-color 600000s 0s, color 600000s 0s;
            }
    
            textarea:focus {
                outline-color: transparent;
                outline-style: hidden;
                outline-width: 0;
            }
    
            input:-webkit-autofill,
            input:-webkit-autofill:focus {
                transition: background-color 600000s 0s, color 600000s 0s;
            }
    
            input:focus {
                outline-color: transparent;
                outline-style: hidden;
                outline-width: 0;
            }
    
            input[type='text'],
            input[type='email'] {
                width: 100%;
                border: 0;
                background: #52796f;
                height: 60px;
                font-size: 20px;
                color: #cad2c5;
                padding: 0 20px;
                box-sizing: border-box;
    
                &:focus {}
    
                &::placeholder {
                    color: #cad2c5;
                }
            }
    
            textarea {
                width: 100%;
                border: 0;
                background: #52796f;
                height: 50px;
                font-size: 20px;
                color: #cad2c5;
                padding: 20px;
                min-height: 250px;
                box-sizing: border-box;
                font-family: Arial, Helvetica, sans-serif;
    
                &::placeholder {
                    color: #cad2c5;
                }
            }
    
            .flat-button {
                color: #84a98c;
                background: 0 0;
                font-size: 16px;
                letter-spacing: 3px;
                text-decoration: none;
                padding: 10px 10px;
                border: 2px solid #52796f;
                float: right;
                border-radius: 24px;
                width: 200px;
                margin-top: 10px;
                font-weight: 600;
    
                &:hover {
                    background-color: #52796f;
                    color: #2f3e46;
                    transition: all 0.3s ease;
                }
            }
        }

    h1 {
        color: #cad2c5;
        }
        }
        
        @media (max-width: 967px) {
        
            .text-zone {
                width: 80vw !important;
            }
        
            p {
                width: 80% !important;
                font-size: 15px !important;
            }
        
            .paperplane-container {
                display: none !important;
            }
        
            .contact-form {
                width: 80vw !important;
            }
        
            input[type='text'],
            input[type='email'],
            textarea {
                font-size: 15px !important;
            }
        
            .flat-button {
                font-size: 15px !important;
                width: 80vw !important;
                margin-top: 20px !important;
    }
}