$green: #84a98c;
$font: 'Ubuntu', sans-serif;
$white: #cad2c5;

// Supports weights 300-700
@import '@fontsource-variable/comfortaa';
@import 'boxicons';

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    height: 6.5vh;
    color: #fff;
    font-family: $font;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 100;

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;

        .logo {
            width: 70px;
            display: none !important;
        }

        h1 {
            margin-top: 35px;
            margin-left: 5px;
            font-size: 35px;
        }
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 35vw;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 45px;
            text-decoration: none;
            color: $white;
            font-family: $font;
            font-weight: 800;
            padding-bottom: 0px;
            /* Adjust as needed */
            border-bottom: 3px solid transparent;

            &:hover {
                border-bottom-color: $green; // Optional: Red underline on hover
            }

            &.active {
                border-bottom-color: #52796f; // Red underline for active link
            }
        }
    }

    .theme-switch-wrapper {
        position: relative;
        right: 3%;

        .theme-switch {
            display: none;
            /* Hide the default checkbox */
        }

        .toggle-label {
            cursor: pointer;
            display: inline-block;
            position: relative;
            font-size: 24px;
            /* Adjust size of the icon */
        }

        /* Style for the icon */
        .toggle-label .bx {
            color: #fff;
            font-size: 32px;
            padding: 4px;
            border: 2px solid #fff;
            border-radius: 30px;
            opacity: 0;
            /* Initially invisible */
        }

        .theme-switch:not(:checked)+.toggle-label .bx-sun {
            animation: fadeIn 0.5s forwards;
            /* Fade in sun icon */
        }

        .theme-switch:checked+.toggle-label .bx-moon {
            animation: fadeIn 0.6s forwards;
            /* Fade in moon icon */
        }

        .theme-switch:checked+.toggle-label .bx-sun,
        .theme-switch:not(:checked)+.toggle-label .bx-moon {
            animation: fadeOut 0.6s forwards;
            /* Fade out the inactive icon */
        }

        /* Initially hide the moon icon */
        .toggle-label .bx-moon {
            display: none;
        }

        /* When checked, hide the sun and show the moon */
        .theme-switch:checked+.toggle-label .bx-sun {
            display: none;
        }

        .theme-switch:checked+.toggle-label .bx-moon {
            display: block;
        }
    }
}

/* Media query for mobile view */
@media (min-width: 965px) {
    .nav-container {
        height: 8vh;
        align-items: flex-start;

        .underline {
                display: block;
                width: 50px;
                /* Control the width */
                height: 2px;
                /* Control the height/thickness */
                background-color: $white;
                /* Additional styling */
                margin-top: 10px;
            }
            
        .bm-item {
            &:hover {
                border-bottom-color: #84a98c; // Optional: Red underline on hover
            }

            &.active {
                border-bottom-color: $white; // Optional: Red underline on hover
            }
        }

        .logo-container {
            width: 200px !important;
        }

        .logo {
            margin-top: 3px;
            width: 45px !important;
            display: none !important;
        }

        .theme-switch-wrapper {
            position: fixed;
            top: 10px;
            right: 180px;

            .toggle-label .bx {
                color: #fff;
                font-size: 20px;
            }
        }
    }
}