.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 1.5s 1.5s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #11223f;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
        border-radius: 15px;
        font-family: 'Comfortaa Variable',
            sans-serif;

        &::placeholder {
            color: #ffffff;
            opacity: 0.6;
            font-family: 'Comfortaa Variable',
                sans-serif;
        }
    }

    textarea {
        width: 100%;
        border: 0;
        background: #11223f;
        height: 50px;
        font-size: 16px;
        color: #ffffff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        border-radius: 15px;
        resize: none;

        &::placeholder {
            color: #ffffff;
            opacity: 0.6;
        }
    }

    .buttonContainer {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        .flat-button {
            color: #5ae9c9;
            background: 0 0;
            font-family: 'Comfortaa Variable',
                sans-serif;
            font-size: 11px;
            font-weight: 800;
            letter-spacing: 3px;
            text-decoration: none;
            padding: 10px 0px 10px 0px;
            border: 2px solid #5ae9c9;
            float: right;
            border-radius: 15px;
            width: 25%;
            margin-left: 15px;
        }

        .sent-text {
            font-family: 'Comfortaa Variable',
                sans-serif;
            font-size: 20px;
            margin-left: 30%;
            width: 10%;
        }
    }
}