html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Comfortaa Variable',
    sans-serif ;
  font-weight: bold;
  color :#ffffff;
  background: #0a1a2f;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
