$red: #cf191b;

.App {
  background-color: transparent;
  height: 100vh;
  .section {
    height: 100%;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
}

#fp-nav ul li a span {
  background: $red;
}